{
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "components": "./app/components",
        "containers": "./app/containers",
        "styles": ".app/styles"
      }
    }]
  ]
}
